<div class="forgot-password-container">
    <div class="forgot-password-form" [formGroup]="forgotPasswordFormGroup" (ngSubmit)="onForgotPassword()">
        <h2 style="float: left;">Forgot Password</h2>
        <form>
            <div class="form-group">
                <input type="email" placeholder="Email" formControlName="emailAddress">
            </div>
            <div class="form-group password-field">
                <input [type]="showNewPassword ? 'password' : 'text'" placeholder="New Password" formControlName="newPassword">
                <i class="fa fa-eye-slash password-eye-icon" aria-hidden="true" (click)="showNewPassword=!showNewPassword" *ngIf="!showNewPassword"></i>
                <i class="fa fa-eye password-eye-icon" aria-hidden="true" (click)="showNewPassword=!showNewPassword" *ngIf="showNewPassword"></i>
            </div>
            <div class="form-group password-field">
                <input type="password" placeholder="Confirm Password" (input)="matchPassword($event)">
                <div class="error" *ngIf="this.matchPasswordFlag === false">
                    Password doesn't match
                </div>
            </div>
            <button type="submit" class="resetPasswordButton">Reset Password</button>
        </form>
    </div>
</div>
