  .signup-form {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 50%;
      margin: 10px auto;
      text-align: center;
  }

  button:hover {
      background-color: #00a2d1;
  }

  form {
      display: grid;
      gap: 1rem;
  }

  .form-group {
      display: flex;
      gap: 10px;
      /* Add spacing between inputs */
  }

  .form-group input,
  .form-group select {
      flex: 1;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin: 0;
  }
  .signupBtn{
    padding: 20px;
    color: #fff;
    content: 'LOG ME IN';
    background-color:#063970;
    border-radius: 18px;
  }
  .error {
    color: red; 
    font-size: 0.875rem; 
    margin-top: 0.25rem;
  }